<label>{{label}}</label>
{{input value=rangeText class='daterangepicker-input form-control show' placeholder=placeholder}}
<div class="hide">
  {{input value=start}}
  {{input value=end}}
</div>


{{!-- {{#if context.label}}
  <label>{{context.label}}</label>
{{/if}}


<div class="hide">
  {{input value=context.start}}
  {{input value=context.end}}
</div>


{{input value=context.rangeText class='daterangepicker-input form-control' placeholder=context.placeholder}} --}}